
<div align="center">
<button class="btn btn-outline-primary" onclick="window.location='page/bankadmin'">Bank Administrator Login</button>
<button class="btn btn-outline-primary" onclick="window.location='page/customer'">Customer Login</button>
<button class="btn btn-outline-warning" onclick="window.location='page/customerRegister'">Customer Registration Page</button>
<button class="btn btn-outline-success" onclick="window.location='swagger'">Swagger</button>
</div>
</div>
